*{
    font-family: 'Roboto', sans-serif;
}
h1{
    color: red;
}

.content {
    padding: 1rem;
}

.content h1{
    margin: 0;
}

.pokemons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pokemons li {
    margin: .5rem;
    padding: 2rem 2rem;
    background-color: #14a06f;
    border-radius: 1rem;
    color: white;
    height: 100px;
    
}
